<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/board.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/board.js"></script>
     
</head>
<body>
    <div id="pin-container">
         
        <img src="images/pins.png" class="pin" alt="">

        <div class="img-container">
            <img src="images/polaroid.png" alt="" class="polaroid1">
            <img src="images/exhibition.png" alt="" class="exhibition1">
        </div>
    
        <div class="img-container">
            <img src="images/polaroid.png" alt="" class="polaroid2">
            <img src="images/exhibition.png" alt="" class="exhibition2">
        </div>
    
        <div class="img-container">
            <img src="images/polaroid.png" alt="" class="polaroid3">
            <img src="images/exhibition.png" alt="" class="exhibition3">
        </div>
    </div>

    <div id="btn-container">
        <button id="btn-prev"> 
            <img src="images/arrow-left.png" alt="" class="left" >
        </button>

        <button id="btn-next">
            <img src="images/arrow.png" alt="" class="right">
        </button>
    </div>
       <div id="output"></div>
    
 
</body>
</html>