<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapShot</title>
    <link rel="stylesheet" href="css/board.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="images/balloon.png" rel="shortcut icon" type="image/x-icon">
    <script src="js/board.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
     
</head>
<body>
    <div class="home-container">
        <i class="bi bi-caret-left-fill" id="goHomeButton"></i>
        <div class="message" id="goHomeText">홈으로 돌아가기</div>
    </div>
    <div id="pin-container">
        <img src="images/pins.png" class="pin" alt="">

        <div class="img-container" id="img1">
            <img src="images/polaroid.png" alt="" class="polaroid1">
            <div id="output"></div>  <!-- 사진 -->
            <div class="title"></div> <!-- 제목 -->
        </div>
        <div class="img-container">
            <img src="images/polaroid.png" alt="" class="polaroid2">
        </div>
        <div class="img-container">
            <img src="images/polaroid.png" alt="" class="polaroid3">
        </div>
    </div>

    <div id="btn-container">
        <button id="btn-prev"> 
            <img src="images/arrow-left.png" alt="" class="left" >
        </button>

        <button id="btn-next">
            <img src="images/arrow.png" alt="" class="right">
        </button>
    </div>
    <!-- <div id="output"></div> -->
 
</body>
</html>