<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/design.css">
    <link rel="stylesheet" href="css/style.css">
    <title>design</title>
</head>
<body>
    <div id="btn-container">
    <button id="pen"><img src="../public/images/pen.png" alt=""></button>
    <button id="eraser"><img src="../public/images/eraser.png" alt=""></button>
    </div>

    <div id="container">
        <div id="polaroid">
            <img src="../public/images/picture.png" alt="사진" id="picture">
        </div>
    
        <a href="../views/write.html"><button id="complete">완료</button></a>
    </div>
    
</body>
</html>