<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/style.css">
    <title>home</title>
</head>

<body>

    <section id="container">
        <div id="image_balloon"><img src="../public/images/balloon.png" alt="풍선그림"></div>

        <section id="container-title">
            <div id="image_title"><img src="../public/images/title.png" alt="제목"></div>
        </section>

        <div id="button-container">
        <a href="../views/story.html"><button id="image_cloud">사진찍기</button></a>
        <button id="image_cloud">게시물 보기</button>
        </div>
    </section>
</body>

</html>