<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="images/balloon.png" rel="shortcut icon" type="image/x-icon">
    <title>SnapShot</title>

</head>

<body>

    <section id="container">
        <div id="image_balloon"><img src="images/balloon.png" alt="풍선그림"></div>
 
        <section id="container-title">
            <div id="image_title"><img src="images/title.png" alt="제목"></div>
        </section>

        <div id="button-container">
        <button id="image_cloud" class="photo">사진찍기</button>
        <a href="#"><button id="image_cloud">게시물 보기</button></a>
        </div>
    </section>

    <script src="js/index.js"></script>
</body>

</html>