<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>편지메세지</title>
    <link rel="stylesheet" href="css/letter.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/letter.js"></script>
</head>
<body>
     
     <div id="letter-container">  
        <img class="letter" src="../public/images/letters.png" alt="" >
        <p id="message1">만세를 하면 3초 카운트 후</p>
        <p id="message2">사진이 찍혀요!</p>
     </div>

      
</body>
</html>
