<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapShot</title>
    <link rel="stylesheet" href="css/letter.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="images/balloon.png" rel="shortcut icon" type="image/x-icon">
    <script src="js/letter.js"></script>
</head>
<body>
     
     <div id="letter-container">  
        <img class="letter" src="images/letters.png" alt="" >
        <p id="message1">3초 카운트 후</p>
        <p id="message2">사진이 찍혀요!</p>
     </div>
 
</body>
</html>
