<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>123snapshot</title>
    <link href="images/balloon.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/letter.css">
</head>
<body>
    <div class="letter">
        <!-- 닫힌 봉투 이미지 -->
        <img src="images/close.png" class="closed-envelope" alt="Closed Envelope">
        <!-- 편지 내용 이미지 -->
        <div class="letter-content">
            <img src="images/shows.png" alt="Letter Content" class="letter">
        </div>
    </div>
    <script src="js/letter.js"></script>
</body>
</html>
