<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapShot</title>
    <link rel="stylesheet" href="css/letter.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="images/balloon.png" rel="shortcut icon" type="image/x-icon">
    <script src="js/letter.js"></script>
</head>
<body>
     
     <div id="letter-container">  
        <img class="letter" src="images/Letter.png" alt="" >
       <div class="message-wrap">
        <p id="message1">To. 나에게</p>
        <p id="message2">3초가 지나면 사진이 찍혀!</p>
        <p id="message3">우리 함께 동심으로</p>
        <p id="message4">돌아가볼까?</p>
    </div>
     </div>
 
</body>
</html>
