<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapShot</title>
    <link rel="stylesheet" href="css/notpost.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="images/balloon.png" rel="shortcut icon" type="image/x-icon">
    <script src="js/notpost.js"></script>
</head>
<body>
  <div id="container">
    <div class="wrap">
      <div class="btn-container">
    <div id="message">사진이 게시되지 않았어!</div>
    <div id="message2">마음속에 간직하자!</div>
  </div>
  </div>
  </div>
</body>
</html>

