<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapShot</title>
    <link rel="stylesheet" href="css/post.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="images/balloon.png" rel="shortcut icon" type="image/x-icon">
    <script src="js/post.js"></script>
</head>
<body>
  <div id="container">
    <div class="blur-container">
    <div class="message-wrapper">
    <p class="message m1">사진이 게시되었어!</p>
    <p class="message m2">게시물 보기에서 사진을 확인하자!</p>
  </div>
  </div>
</div>

   
</body>
</html>

