<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapShot</title>
    <link rel="stylesheet" href="css/post.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="images/balloon.png" rel="shortcut icon" type="image/x-icon">
    <script src="js/post.js"></script>
</head>
<body>
  <div id="container">
    <div class="message-wrapper">
    <p class="message m1">게시가 성공적으로 이루어졌습니다!</p>
    <p class="message m2">게시물 보기 버튼을 누르시면 </p>
    <p class="message m2">찍은 사진을 확인하실 수 있습니다!</p>
  </div>
  </div>

   
</body>
</html>

