<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapShot</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/shot.css"> 
    <link href="images/balloon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
    <div id="container">
        <div class="cloud"><img src="images/cloud.png" alt="" class="cloud-picture"></div>
        <div id="countdown">3</div>
        <div id="box"><video id="video" autoplay="true" muted></video></div> 
        <canvas id="canvas"></canvas>
    </div> 
  <script src="js/shot.js"></script>
</body>
</html>
