<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/story.css">
    <title>story</title>
    <script src="../public/js/story.js"></script>
</head>
<body>
    <div id="letterballoon"><img src="../public/images/letterballoon.png" alt="편지풍선"></div>
</body>
</html>