<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/story.css">
    <link href="images/balloon.png" rel="shortcut icon" type="image/x-icon">
    <title>SnapShot</title>
    <script src="js/story.js"></script>
</head>
<body>
    <div id="letterballoon"><img src="images/letterballoon.png" alt="편지풍선"></div>
</body>
</html>