<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 보기</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/view.css">
</head>
<body>
    <div id="pin-container">
        <img src="../public/images/pins.png" class="pin" alt="">
        <div id="img-container">
            <img src="../public/images/polaroid.png" alt="" class="exhibition1">
            <img src="../public/images/polaroid.png" alt="" class="exhibition2">
            <img src="../public/images/polaroid.png" alt="" class="exhibition3">
        </div>
    </div>

    <div id="btn-container">
       
        <!-- 왼쪽 버튼 -->
        <button id="btn-prev"> 
            <img src="../public/images/arrow-left.png" alt="" class="left" >
        </button>

        <!-- 오른쪽 버튼 -->
        <button id="btn-next">
            <img src="../public/images/arrow.png" alt="" class="right">
        </button>
    </div>
    <script src="../public/js/view.js"></script>
    
</body>
</html>