<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>과거의 나에게 할 말 작성</title>
    <link rel="stylesheet" href="../public/css/write.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    
    <div id="container">
        <div class="guide">과거의 나에게 할 말을 작성해 주세요!</div>
        <div id="title-box" contenteditable="true"></div> <!--제목 쓰는 공간 -->
        <div id="writing-box" contenteditable="true"></div>   <!-- 내용 쓰는 공간 -->
        <a href="../views/choose.html"><button id="finish">완료</button></a>  <!--#finish : 완료 버튼 -->
        <script src="../public/js/write.js"></script>
    </div>
  
</body>
</html>