<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>과거의 나에게 할 말 작성</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/write.css">
    <script src="../public/js/write.js"></script>
</head>
<body>
    <div id="container">
        <form action="/titles/:id" method="post"> 
            <div class="guide">과거의 나에게 할 말을 작성해 주세요!</div>
            <div class="form-group">
                <!-- 글 작성 공간 -->
             <textarea id="writing-box" name="message" rows="10" placeholder="과거의 나에게 한마디를 남긴다면?"></textarea>
            </div>
            
           <<button type="submit" id="finish" onclick="nextPage(event)">완료</button>
        </form>
    </div>
</body> 
</html>