<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>과거의 나에게 할 말 작성</title>
    <link rel="stylesheet" href="/123_Snapshot/public/css/style.css">
    <link rel="stylesheet" href="/123_Snapshot/public/css/write.css">
</head>
<body>
    <div id="container">
        <div class="guide">과거의 나에게 할 말을 작성해 주세요!</div>
        <div id="writing-box" contenteditable="true"></div>  <!-- #writing-box : 글 작성하는 곳 -->
        <a href="/123_Snapshot/views/choose.html"><button id="finish">완료</button></a>  <!--#finish : 완료 버튼 -->
    </div>

    <script src="../public/js/write.js"></script>
</body>
</html>