<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapShot</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/write.css">
    <link href="images/balloon.png" rel="shortcut icon" type="image/x-icon">
   
</head>
<body>
    <div id="container">
        <div class="blur-container">
            <div class="wrap">
        <form action="/titles/:id" method="post"> 
            <div class="guide">과거의 나에게 하고 싶은 말을 적어보자!</div>
            <div class="form-group">
                <!-- 글쓰는 공간 -->
             <textarea id="writing-box" name="message" rows="10" placeholder="안녕 ! 난 미래의 너야, 너의 꿈을 응원할게! (90자 이내)"  maxlength="100"></textarea>
             <div id="char-count">0/90</div>
            </div>
            
           <button type="submit" class="finish">완료</button>
        </form>
    </div>
    </div>
    </div>
    <script src="js/write.js"></script>
</body> 
</html>