@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(../images/bg1.png);
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#btn-prev,
#btn-next {
    width: 87px;
    height: 87px;
    background-color: var(--color1);
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

#btn-prev {
    position: absolute;
    top: 50%;
    left: 2%;
    padding: 19px 26px 20px 25px;
}

#btn-next {
    position: absolute;
    top: 50%;
    right: 2%;
}

#pin-container {
    position: relative;
    margin: 180px 0 207px 0;
}

.pin {
    position: absolute;
    width: 1935.5px;
    height: 266.713px;
    z-index: 1;
}

.img-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 425px;
    height: 442.5px;
}

.polaroid1 {
    position: absolute;
    top: 38%;
    left: 40%;
    transform: rotate(8.161deg);
}

#title1 {
    position: absolute;
    top: 113%;
    left: 45%;
    width: 300px;
    transform: rotate(8.161deg);
    /* margin-top: 10px; */
}


.polaroid2 {
    position: absolute;
    top: -48%;
    left: 180%;
}

#title2 {
    position: absolute;
    top: 28%;
    left: 190%;
    width: 300px;
    width: 300px;

}

.polaroid3 {
    position: absolute;
    top: -158%;
    left: 310%;
    transform: rotate(-5.801deg);
}

#title3 {
    position: absolute;
    top: -81%;
    left: 324%;
    transform: rotate(-5.801deg);
    width: 300px;
}

.home-container {
    display: flex;
    position: absolute;
    top: 88px;
    left: 197px;
    cursor: pointer;
}

.message {
    color: #174488;
    font-family: 'omyu_pretty';
    font-size: 2.3rem;
    margin-left: 10px;
    margin-top: 3px;
}

.bi {
    font-size: 1.9rem;
    color: #174488;
}

/* 받아온 사진 크기 */
.output img {
    width: 425px;
    height: 442.5px;
    z-index: 0;
}

.title {
    font-size: 1.5rem;
    font-family: 'omyu_pretty';
}

#bubble1 {
    position: absolute;
    bottom: -100px;
    left: 7%;
    animation: moveUp 6s linear infinite;
}

#bubble2 {
    position: absolute;
    bottom: -100px;
    left: 30%;
    animation: moveUp 8.5s linear infinite;
}

#bubble3 {
    position: absolute;
    bottom: -100px;
    left: 55%;
    animation: moveUp 7.5s linear infinite;
}

#bubble4 {
    position: absolute;
    bottom: -100px;
    left: 80%;
    animation: moveUp 5.5s linear infinite;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-110vh);
    }
}