body {
    background-image: url(../images/bg1.png);
    background-size: cover;  
    overflow: hidden;  
    width: 100vw;   
    height: 100vh;  
    
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.wrap{
    width: 872px;
    height: 590px;
    border-radius: 37px;
    background: rgba(255, 255, 255, 0.28);

    /* 백그라운블러그림자 */
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(9px);
}
.btn-container{
    margin-left: 183px;
}

.open{
    font-size: 2rem;
    font-family: 'omyu_pretty';
    color: var(--color2);
    margin: 140px auto auto 330px; 
}

#public-button, #private-button{
    width: 502px;
    height: 91px;

    border-radius: 72px;
    border: 1px solid var(--color5);
    color: var(--color3);
    background: var(--color1);

    text-align: center;
    line-height: 90px;
    font-family: 'omyu_pretty';
    font-size: 2rem;
    margin-top: 36px;
     
    cursor: pointer;
    
}
a{
    text-decoration: none;
    color: var(--text-color2);
}

 #public:hover, #private:hover{
    background-color: var(--color8);
 }

 
 
