@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/bg1.png);
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
}

#guide {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 38%;
    color: #14187F;
    font-family: 'omyu_pretty';
    font-size: 32px;

    width: 502px;
    height: 94px;
    border-radius: 48px;
    border: 1px solid #143F7F;
    background: #FFF;

}

#container {
    display: flex;
    position: absolute;
    top: 10%;
    left: 12%;

}

.controls__colors {
    display: flex;
    align-items: center;
    margin-right: 15px;
}


.canvas {
    background-color: var(--color1);
}

.controls {
    margin-right: 250px;
    display: flex;
    align-items: flex-start;
}

.controls__btns button:active {
    transform: scale(0.98);
}

.controls .controls__colors {
    display: flex;
    flex-direction: column;
}

.controls__colors .controls__color {
    /* 각각의 색상 박스들 */
     
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-top: 10px;
    cursor: pointer;
}


#complete {
    width: 506px;
    height: 52px;
    margin-top: 62px;

    border-radius: 8px;
    border: 1px solid var(--color3);

    background: var(--color3);
    color: var(--color1);

    text-align: center;
    font-family: 'omyu_pretty';
    font-size: 1.25rem;
    cursor: pointer;

    position: absolute;
    right: 8%;
    top: 100%;
}

.controls__range {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: top left;
    top: 23%;
    margin-left: -59px;
    margin-top: 3px;
}


#pen {
    width: 68px;
    height: 68px;
    border-radius: 50px;
    background-color: var(--color1);
    border: 2px solid var(--color2);
    cursor: pointer;

}

#reset {
    width: 68px;
    height: 68px;
    border-radius: 50px;
    background-color: var(--color1);
    border: 2px solid var(--color2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.show {
    display: flex;
    opacity: 1;
    transform: translateX(0);
}

#pen:hover,
#reset:hover {
    transform: scale(1.10);
}


.controls__colors .controls__color {
    /* 기본적으로 숨겨진(hidden) 상태로 설정 */
    display: flex;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
}

.controls__colors .controls__color.show {
    /* 보이는(show) 상태로 전환 */
    opacity: 1;
    transform: translateY(0);
}


.controls__range {
    position: absolute;
    transform: rotate(-90deg);
    width: 171px;
    height: 40px;
    background-color: var(--color1);
    box-shadow: 0px 0px 4.8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jsRange {
    -webkit-appearance: none;
}

#jsRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    background: var(--color2);
    border-radius: 50%;
    cursor: pointer;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 9999;
    /* display: none; */
    opacity: 0;
    transition: opacity 1s;
}
