*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/bg1.png);
    background-size: cover;  
    overflow: hidden;  
    width: 100vw;   
    height: 100vh; 
}

body {
    background-image: url(../images/startscreen.png);
    background-repeat: no-repeat;
}

#image_balloon {
    margin-top: 51px;
    margin-left: 31px;
}

#image_title {
    width: 894px;
    height: 430px;
    flex-shrink: 0;

    margin-top: 198px;
    margin-left: 101px;
}

#image_cloud1 {
    background-image: url(../images/minicloud.png);
    width: 529px;
    height: 285px;
    flex-shrink: 0;

    /* margin-top: 662px; */
}

#image_cloud2 {
    width: 529px;
height: 285px;
flex-shrink: 0;

    /* margin-top: 661px; */
    /* margin-left: 1269px; */

}

