*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;

    background-image: url(../images/startscreen.png);
    background-repeat: no-repeat;
    background-size: cover;  
    overflow: hidden;  
    width: 100vw;   
    height: 100vh; 
}

#container {
    display: flex;
    
}

#container-title {

    /* margin-top: 198px; */
    position: absolute;
    top: 15%;
    left: 45%;
}


#image_balloon {
    margin-left: 65px;
    position: absolute;
    top: 6%;
     
}

#button-container{
    position: absolute;
    top: 60%;
    left: 40%;
     
}

#image_title {
    width: 894px;
    height: 430px;
    flex-shrink: 0;
}

#image_cloud {
    width: 529px;
    height: 285px;
    
    background-image: none; /* 배경 이미지 제거 */
    background-color: transparent; /* 배경 색상을 투명하게 설정 */
    border: none; /* 필요시 테두리 제거 */
    cursor: pointer;
    
    background-image: url(../images/minicloud.png);
    
    font-size: 3rem;
    font-family: 'omyu_pretty';
    color: var(--color2);
    padding: 55px 10px 6px  30px;
    text-align: center;
}

#image_cloud:hover {
    transform: scale(1.05); /* 1.05배로 확대하는 트랜스폼 설정 */
}

#image_balloon {
    position: relative;
    animation: shake 1.3s infinite ease-in-out;
}

@keyframes shake {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}



