body {
    background-image: url(../images/bg1.png);
    background-size: cover;  
    overflow: hidden;  
    width: 1920px;
    height: 1080px;
    width: 100vw;  
    height: 100vh;  
}

#letter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.letter{
    width: 782px;
    height: 826px;   
}

#message1{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#message2{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
#message3{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#message4{
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#message1, #message2, #message3, #message4 {
    font-size: 3rem;
    font-family: 'omyu_pretty';
    color: var(--color6);
}

.message-wrap{
    /* margin-top: 120px; */
}