body{
    background-image: url(../images/bg1.png);
    background-size: cover;  
    overflow: hidden;  
    width: 100vw;   
    height: 100vh; 
    
     
}
 
#pin-container{
    margin: 180px 0 207px 0;
}
 .pin{
    width: 1935.5px;
    height: 693px;
    
 }


.exhibition1{
    position: absolute;
    top: 36%;
    left: 11.5%;
    transform: rotate(188deg);
    transform-origin: 50% 50%;
    
}

.exhibition2{
    position: absolute;
    top: 42%;
    left: 40.5%;
     
}

.exhibition3{
    position: absolute;
    top: 38.7%;
    right: 12.5%;

    transform: rotate(-5.5deg);
}

 #btn-left,
 #btn-right{
    width: 87px;
    height: 87px;
    background-color: var(--color1);
    border-radius: 100%;
    border: none;
    cursor: pointer;
    
 }

 #btn-left{
    position: absolute;
    top: 50%;
    left: 2%;
    padding: 19px 26px 20px 25px;
 }

 #btn-right{
    position: absolute;
    top: 50%;
    right: 2%;
 }
  
 
  

 