*{
    font-family: 'omyu_pretty';
}

body {
    background-image: url(../images/bg1.png);
    width: 2500px;
    height: 1080px;
    background-size: cover;  
    overflow: hidden;  
    width: 100vw;  
    height: 100vh;  

}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blur-container{
    width: 1062px;
    height: 740px;
    border-radius: 37px;
    background: rgba(255, 255, 255, 0.28);
    
    /* 백그라운블러그림자 */
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(9px);

}
.wrap{
    margin-left: 160px;
    margin-top: 100px;
}
.guide{
    color: var(--color2);
    text-align: center;
    font-size: 2.5rem;  
    margin-left: -160px;
}
 
#writing-box{
    width: 700px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid var(--color4);
    background: var(--color1);
    margin-top: 70px;
     

    padding: 20px; 
    outline: none;
    font-size: 1.5rem;
}


.placeholder div {
    margin-top: 5px;  
    font-size: 0.85em;  
}

.finish{
    width: 506px;
    height: 52px;
    border-radius: 8px;
    border: 1px solid var(--color4);
    background: #3173B0;
    color: var(--color1);
    font-size: 1.5rem;
    cursor: pointer;
    margin: 40px auto auto 100px;
}

.finish:hover{
    background-color: #2569a8;
}

.placeholder {
    color: var(--color7);
    
}